/* CSS declarations go here */
#number-players, #resolution, #bitrate {
  font-size: 20px;
  color: #000;
  display: block;
  margin: 0 auto 1rem auto;
  width: 200px;
  border: 1px solid;
}

#launch-plugin {
  margin-top: 3rem;
}

.stub-container {
  margin: 40px 20px;
  text-align: center;
}

.video-player__video {
  display: block;
  width: 100%;
}