/* CSS declarations go here */
#number-players, #launch-plugin {
  font-size: 20px;
  color: #000;
  display: block;
  margin: 3rem auto;
  width: 200px;
  border: 1px solid;
}

.centered-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}